.TestimonialsMainPage {
  width: 95%;
  height: 90vh;
}

.slider {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .images1 {
    margin: 0% 14% 0% 14%;
    background-color: transparent;
    font-size: 1.6rem;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 4% 4% 4% 4%;
  }

  .consulting-vid {
    margin: 3%;
    position: absolute;
    width: 94%;
    height: 75vh;
    object-fit: cover;
    z-index: -1;
}
  
  .right-arrow1 {
    margin: 3%;
    margin-left: 6%;
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow1 {
    margin: 3%;
    margin-left: 6%;
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }



  

  @media screen and (max-width:950px) {
    .images1 {
      font-size: 1.3rem;
    }

    .right-arrow1 {
      right: 18px;
      font-size: 2rem;
    }

    .left-arrow1 {
      left: 18px;
      font-size: 2rem;
    }
    
}

@media screen and (max-width: 550px) {
  .images1 {
    font-size: 0.9rem;
  }

  .right-arrow1 {
    font-size: 2rem;
  }

  .left-arrow1 {
    font-size: 2rem;
  }
  
}