.dropdown-menu {
    background: red;
    width: 300px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
    z-index: 2;
  }
  
  .dropdown-menu li {
    background: linear-gradient(to right,rgb(0, 149, 248),rgb(36, 154, 197),rgb(39, 186, 240),rgb(255, 255, 255) );
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #007bff;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px black;
    padding: 3%;
  }
  
  @media screen and (max-width: 960px) {
    .dropdown-menu {
      background-color: #5997da;
      width: 500px;
      top: 176px;
    }
    .dropdown-menu li:hover {
      background: #5cabff;
    }    
  }