.searchInputs { 
    margin-top: 10%;
    padding-left:  5%;
    padding-top: 3%;
    box-sizing: border-box;
    cursor: pointer;

}

.textsearch {
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

